[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://${QUINDAR_PYPI_AUTH}:@pypi.fury.io/quindarspace/"
verify_ssl = true
name = "quindarspace"

[packages]
quindar-py = { version = "*", index = "quindarspace" }
quindar-tdk = { version = "*", index = "quindarspace" }
skyfield = "*"
rich = "*"
colorama = "*"

[requires]
python_version = "3.9"

[dev-packages]
python-dotenv = "*"
pytest = "*"
testcontainers = "*"
